# Remote Storage Box Credentials
# NOTE: used by /etc/fstab (Samba/CIFS)
username=
hostname=
port=
password=
sshPrivateKey=

# Remote beatmap storage path
storagePathRemote=

# Path to beatmap storage LOCAL
storagePathNew=
storagePathOld=

